* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(36, 37, 123);
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.app-title {
  color: rgb(214, 214, 214);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 2, 17);
  padding-inline: 1.5rem;
}

.nearest-button {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(48, 48, 48);
  background-color: rgb(206, 183, 33);
  height: 140px;
  width: 550px;
  border: none;
  border-radius: 100px;
  letter-spacing: 1.5px;
  margin-top: 0.5rem;
}

.nearest-button:hover {
  background-color: rgb(184, 163, 30);
}

.result {
  color: rgb(214, 214, 214);
  font-size: 1.5rem;
  width: 550px;
}

.google_map_button {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(48, 48, 48);
  background-color: rgb(216, 216, 216);
  height: 50px;
  width: 230px;
  border: none;
  border-radius: 5px;
  margin-top: 0.3rem;
}

.app-description {
  font-size: 0.8rem;
  color: rgb(206, 183, 33);
  width: 550px;
}

.result-container {
  position: relative;
  margin-top: 0.7rem;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 600px) {
  .app-title {
    font-size: 1.7rem;
  }

  .result {
    font-size: 0.9rem;
    width: 300px;
  }

  .nearest-button {
    font-size: 1.8rem;
    height: 90px;
    width: 300px;
    border-radius: 50px;
    margin-top: 0.3rem;
  }

  .google_map_button {
    font-size: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 4px;
  }

  .app-description {
    font-size: 0.6rem;
    width: 300px;
  }
}